<html>
    <head>
        
        <title><%=(locals.title) ? title :''%></title>
    
    </head>
    <body>
    
        <h2>Welcome in the world of vivek<h2>
        	<p>Click <a href="/customers"> here </a> to show all the rocords</p>
    </body>

</html>
